.card-section__items {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(80px, 22vw, 160px), 1fr)
  );
  gap: clamp(8px, 2vw, 32px);
}

.card-section__title {
  font-size: var(--text-size-large);
  font-weight: bold;
  margin-bottom: 8px;
}
