.card-section-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

.card-section-title {
  width: 100%;
  font-size: var(--text-size-large);
  font-weight: bold;
}

@media (max-width: 450px) {
  .card-section-items {
    gap: 16px;
  }
}
