.card {
  background: linear-gradient(
    120deg,
    var(--color-surface-card-start) 0%,
    var(--color-surface-card-mid) 50%,
    var(--color-surface-card-end) 100%
  );
  border: 1px solid var(--color-border-card);
  box-shadow: var(--shadow-card);
  padding: 16px;
  border-radius: var(--border-radius-medium);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition:
    background-color 0.3s,
    transform 0.2s;
  cursor: pointer;
}

.card--small {
  flex: 0 0 120px;
}
.card--medium {
  flex: 0 0 160px;
}
.card--large {
  flex: 0 0 200px;
}

.card:hover {
  transform: translateY(-4px);
  opacity: 0.8;
}

.card__cover {
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    45deg,
    var(--color-background-card-cover-start),
    var(--color-background-card-cover-mid),
    var(--color-background-card-cover-end)
  );
  opacity: 0.9;
  border-radius: var(--border-radius-small);
}

.card__cover-img {
  object-fit: cover;
  overflow: hidden;
}

.card__title {
  font-weight: bold;
  font-size: var(--text-size-medium);
  margin-bottom: 4px;
}

.card__subtitle {
  color: var(--color-text-secondary);
  font-size: var(--text-size-small);
  margin-top: auto;
  margin-bottom: 0;
}

@media (max-width: 450px) {
  .card {
    padding: 10px;
  }

  .card--small {
    flex: 0 0 100px;
  }
  .card--medium {
    flex: 0 0 120px;
  }
  .card--large {
    flex: 0 0 140px;
  }

  .card__title {
    font-size: 12px;
  }

  .card__subtitle {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .card--small {
    flex: 0 0 80px;
  }
  .card--medium {
    flex: 0 0 100px;
  }
  .card--large {
    flex: 0 0 120px;
  }
}
