body {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(125deg, #faf2e5, #d0e3ff, #eaeaee, #faf2e5);
  color: #ffffff;
  font-family: sans-serif;
}

.content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}

section h2 {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.section-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 450px) {
  .content {
    padding: 16px;
  }

  .section-items {
    gap: 16px;
  }
}
